
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" id="indexPage">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        WindowResize();
    });
</script>